/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 nav.top-bar{
   background-color: #1d2065;
 }

a {
  font-family: 'Orbitron', sans-serif;
  color: #e90fec;
}

a:hover {
  font-family: 'Orbitron', sans-serif;
  color: #41cede;
}

a:visited {
  font-family: 'Orbitron', sans-serif;
  color: #e90fec;
}

.top-bar-section{
  background-color: #1d2065;
}

html, body, div.body-container{ 
  background-image: url("https://wallpaperaccess.com/full/42337.jpg"); 
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;  
  background-size: cover 
}

div.body-container{
  font-family: 'Orbitron', sans-serif;
  color: white;
}
h2{
  font-family: 'Orbitron', sans-serif;
  color: white;
}

div.field label{
  font-family: 'Orbitron', sans-serif;
  color: white;
}

div.field a{
  font-family: 'Orbitron', sans-serif;
  color: white;
}